@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: Roboto;
    font-size: 16px;
}


.primer_header {
    background-color: #222222;
    color: #F3F3F3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 10px;
}

.config {
    display: flex;
    justify-content: space-between;
}

.config p{
    padding: 5px;
}

.segundo_header {
    background-color: #F0A83E;
    position:sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    padding: 8px;
    align-items: center;
    font-size: 20px;
}
.segundo_header > a{
    display: flex;
}
img{
    max-width: 100%;
}

.patita{
    color: #F0A83E;
    font-size: 50px;
    padding-top: 2%;
}
.segundo_header a{
    color: #F3F3F3;
    text-decoration: none;
}

h1{
    color:#3C2313;
    font-weight: bold;
    font-size: 20px;    
}
.lista li {
    font-weight: 400px;
    font-size: 13px;
    margin: 5px;
}

.lista li{
    display: inline-block;
}

.productos{
    text-align: center;
    font-size: 40px;
    color: #3C2313;

}

.categorias{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.categorias li{
    padding: 10px;
    display: inline-block
}
h1 span{
    color: #fff;

}
.menu{
    display: flex;
    justify-content: space-around;
}

a{
    color:#666666;
    ;
    text-decoration: none;
}

.background{
    background-image: url("../img/background.png");
    background-position: center center;
    background-size: cover;
    height: 460px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding-right: 30px;
}

.placer{
    background-color: #FFFFFF;
    font-size: 30px;
}
.comederos {
    background-color: #F0A83E;
    padding: 10px; 
    color:#FFFFFF;
    text-decoration: none;
}

.primer_footer {
    background-color:#3C2313;
    color:#fff;
    font-weight: 700;
    font-size: 20px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.container{
    display: flex;
    flex-direction: column;
}

.primer_footer div{
    padding: 1%;
}
.segundo_footer{
    background-color: #222222;
    text-align: center;
    font-size: 10px;
    color: #fff;
}

i {
    color: #ffffff;
    font-size: 13px;
}

footer h2 span{
    color: #F0A83E;
}

.marca{
    text-align: center;
    padding-right: 2%;
    align-content: center;
    
}