body{
    font-family: Roboto;
    font-style: normal;
}

.primer_header {
    background-color: #222222;
    color: #F3F3F3;
}

.primer_header p {
    display: inline-block;
}

.segundo_header {
    background-color: #F0A83E;
}


h1{
    color:#3C2313;
    display: inline-block;
    font-weight: bold;
    font-size: 20px;    
}
.lista{
    font-weight: 400px;
    font-size: 13px;
}

.lista li{
    display: inline-block;
}

span{
    color: #fff;

}

.background{
    background-image: url("../img/background.png");
    background-position: center center;
    background-size: cover;
    height: 460px;
}

.background a {
    background-color: #F0A83E;
    padding: 10px; 
}

.primer_footer {
    background-color:#3C2313;
    color:#fff;
    font-weight: 700;
    font-size: 20px;
}

.segundo_footer{
    background-color: #222222;
    text-align: center;
    font-size: 10px;
    color: #fff;
}

