h2 {
    font-size: 30 px;
}

h3 {
    font-style: italic;
}

.banner{
    /*background: wheat url("../img/lemon-pie.jpg") no-repeat fixed -200px center;*/
    background-color: wheat;
    background-image: url("../img/lemon-pie.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: -200px center;
    background-size: cover;
    height: 460px;
}